<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit Problem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('submit_problem') }}">Submit Problem</a>
        <a href="{{ url_for('problems') }}">Problems</a>
        {% if current_user.is_admin %}
            <a href="{{ url_for('admin_users') }}">Users</a> <!-- Добавлена ссылка на список пользователей -->
        {% endif %}
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <div class="container">
        <h1>Submit a Problem</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Title" required>
            <textarea name="description" placeholder="Description" required></textarea>
            <label for="priority">Priority:</label>
            <select name="priority" required>
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
            </select>
            <label for="category">Category:</label>
            <select name="category" required>
                <option value="notSelected">Not selected category</option>
                <option value="VPN">VPN</option>
                <option value="Software">Software</option>
                <option value="Network">Network</option>
            </select>
            <label for="created_at">Creation Date and Time (optional):</label>
            <input type="datetime-local" name="created_at" max="{{ max_date }}">
            <label for="files">Attach files:</label>
            <input type="file" name="files" multiple>
            <button type="submit">Submit</button>
        </form>
        
    </div>
</body>
</html>
